@charset "utf-8";
@font-face {
    font-family: 'Voltage';
	src: url('../Fonts/Maximum\ Voltage.otf') format('opentype');
}
@font-face {
    font-family: 'Lancelot-Regular';
	src: url('../Fonts/Lancelot-Regular.ttf') format('truetype');
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
	font-family: 'Lancelot-Regular', sans-serif;
	font-size: 20px;
}

main {
    flex: 1;
    padding: 20px;
}

/* nav &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
nav {
	background: linear-gradient(to bottom, rgba(31, 20, 36, 1) 0%, rgba(31, 20, 36, 0.8) 85%, rgba(31, 20, 36, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
	position: sticky;
	top: 0px;
	width: 100%;
}


nav a {
	color: white;
	margin: 0 15px;
	font-size: 1.5rem;
    font-weight: bold;
	color: #f7a9fc;
	text-shadow: 1px 0 10px #fbbcff;
    text-decoration: none;
	padding: 25px;
	transition: color 0.3s ease-in-out;
}

nav a:hover, nav a.ici:hover {
    color: white;
}

nav a.ici{
	color: lavender;
}

#logo_nav{
	height: 5rem;
	filter: brightness(240%);
	position: absolute;
	left: 20px;
	top: 0px;
}



@media (max-width: 650px) {
    nav {
		flex-direction: column;
    }
	nav a {
		padding: 5px;
	}
}


/* footer &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
footer {
    color: white;
    padding: 20px 5px 8px 0;
    position: relative;
    width: 100%;
	background-color: #1f1424;
	background: linear-gradient(to bottom, rgba(31, 20, 36, 0) 0%, rgba(31, 20, 36, 0.85) 25%, rgba(31, 20, 36, 1) 100%);
}

.footer-logo img {
    height : 6rem;
	filter : brightness(200%);
	margin-left: 20px;
	float: left;
}

.footer-links {
	margin-top: 25px;
}
.footer-links p {
    font-size: 18px;
	text-align: right;
	margin-right: 20px;
}

.footer-links p a {
    text-decoration: none;
    color: #ecf0f1;
}

.footer-links p a:hover {
    color: #f7a9fc;
}

.footer-members {
    margin: 10px;
	display: inline;
}

.footer-members p {
    color: #ecf0f1;
	text-align: right;
	margin-right: 10px;
}